@import 'base.css';

:root {
  --footer-padding: 1rem;
  --base-padding: 1rem;
  --medium-padding: 2rem;
  --large-padding: 3rem;
}
#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0;
}
.body-content {
  height: 100%;
  flex-grow: 1;
  padding: var(--base-padding);
  padding-bottom: 2rem;
  max-width: 1200px;
  margin: 2rem auto;

}
@media (min-width: 768px) {
  :root {
    --base-padding: var(--medium-padding);
  }
}
@media (min-width: 1024px) {
  :root {
    --base-padding: var(--large-padding);
  }
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
    place-items: stretch;
    width: 100%;
  }
}
 .notification-container {
   height: 100%;
   position: fixed;
   top: 20px;
   right: 20px;
   display: flex;
   flex-direction: column-reverse;
   gap: 10px;
   z-index: 9999;
   pointer-events: none;
   max-height: calc(100vh - 40px);
   overflow-y: auto;
   padding-right: 5px;
   width: 350px;
 }

@media (max-width: 768px) {
  .notification-container {
    width: calc(100% - 40px);
    max-width: 400px;
  }
}
html, body {
  height: 100%;
  margin: 0;
  padding-bottom: 70rem
}